{:paths   ["src" "resources"]
 :deps    {clj-http-lite {:git/url "https://github.com/babashka/clj-http-lite"
                          :sha     "a75db6db60eadcf609104a979b29499f54b3665b"}}
 :aliases {:dev
           {:extra-paths ["dev" "classes"]
            :extra-deps  {cheshire {:mvn/version "5.8.1"}}}}}
